.p-sidebar {
  box-shadow: none !important;
}

.p-sidebar-content {
  box-shadow: none !important;
}

.p-sidebar-mask {
  box-shadow: none !important;
  background-color: transparent !important;
}

.p-menubar-button {
  display: none !important;
}

/* PanelMenu */
.p-panelmenu
  .p-panelmenu-header:not(.p-highlight):not(.p-disabled):hover
  .p-panelmenu-header-content {
  background: var(--primary-color) !important;
}

